* {
  font-family: 'Roboto Condensed', sans-serif;

}

.App {
  /* text-align: center; */
  display: grid;
  min-height: 100vh;
  background-color: black;
  grid-template-columns: 150px 1fr 1fr 1fr 150px;
  grid-template-rows: 50px auto 1fr 3fr 1fr 30px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: white;

}

/* .Site-content {
display: flex;
flex-grow: 1;

} */

.topNav {

  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  color: black;
  /* width: 100%; */
}

.menu {
  color: black!;
}

.Logo {
display: flex;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
justify-content: flex-end;
grid-column-start: 2;
grid-row-start: 2;
/* background-color: pink; */
}

.App-logo {
width: auto;
height: auto;
  /* padding: 40px; */
  /* margin-top: 30px; */
  opacity: 1.0;
}


#nav-wrapper {
  grid-column-start: 4 ;
  grid-row-start: 2;
  /* background-color: blue; */
  font-size: 1.2rem;
  /* width: 300px; */
  /* margin-left: 250px; */
}

#main-intro{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 75px;
  padding-right: 75px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
}


#footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
 /* padding: 20px; */
  /* background-color: red; */
  grid-row-start: 6;
  grid-column-start: 1;
  grid-column-end: 6;
}


/*

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {
  /* .App-logo {
    width: 60%;
    height: auto;
    padding: 20px;
    margin-top: 75px;
    opacity: 1.0;
  } */
/* } */

/* @media only screen and (max-width: 480px) {} */
