* {
  font-family: 'Roboto Condensed', sans-serif;

}

.App {
  /* text-align: center; */
  display: grid;
  height: 100vh;
  width: 100vw;
  background-color: #EFEBE1;
  grid-template-columns: 125px 1fr 125px;
  grid-template-rows:  50px 1fr 1fr 1fr 50px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: black;

}

/* .Site-content {
display: flex;
flex-grow: 1;

} */

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2B9395;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  /* width: 100%; */
}

.title {
  grid-column-start: 1;
  /* grid-column-end: 3; */
  grid-row-start: 2;
  margin-left: 24px;
  font-size: 1.6em;
  /* background-color: red; */
}

.nav-items {
  font-size: 1.0em;
  grid-column-start: 3;
  grid-row-start: 2;
  margin-right: 10px;
}


.logo-div {
width: auto;
height: 207px;
display: flex;
justify-content: center;
align-items: center;
/* background-color: pink; */
margin-top: 10px;
margin-left: 100px;
}

.App-logo {
width: auto;
height: 100%;
  /* padding: 40px; */
  /* margin-top: 30px; */

}

#main-intro{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 75px;
  padding-right: 75px; */
  grid-column-start: 2;
  /* grid-column-end: 4; */
  grid-row-start: 3;
  padding: 50px;
  /* background-color: green; */
}

.intro-text {
  /* background-color: pink; */
  width: 400px;
}

#footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
 /* padding: 20px; */
  /* background-color: red; */
  grid-row-start: 6;
  grid-column-start: 1;
  grid-column-end: 6;
}


/*

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {
  /* .App-logo {
    width: 60%;
    height: auto;
    padding: 20px;
    margin-top: 75px;
    opacity: 1.0;
  } */
/* } */

/* @media only screen and (max-width: 480px) {} */
