
@keyframes spin {
  from {
    transform: rotate(0deg);
}
  to {
    transform: rotate(360deg);
 }
}

@keyframes spinBackward {
  from {
    transform: rotate(0deg);
}
  to {
    transform: rotate(-360deg);
 }
}
